.App {
  margin: 0;
  padding: 0;
}
body{
  padding: 0;
  margin: 0;
  font-family: Georgia, serif;
  font-size: 25px;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  position: relative;
}
/* Header */
.headerContainer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #121212;
  font-size: 2rem;
  color: whitesmoke;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  position: fixed ;
  top: 0;
  width: 100%;
  z-index: 99;

}
.circle{
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  padding: 0.5rem;
  background: lightcoral;
  border: 0.125rem solid lightcoral;
  color: whitesmoke;
  text-align: center;
  font: 2rem Arial, sans-serif;
}

/* Main Page */
.counter-container{
  display: flex;
  margin-top: 8rem;
}
.mainContainer{
  margin-top: 5.0rem;
}
.gameImg{
  max-width: 100%;
  height: auto;
 
}

.clickPopup{
  font-size: 1.1rem;
  position: absolute;
  color: whitesmoke;
  display: none;

}
.charChooseBill, .charChooseBow, .charChooseCour{
  cursor: pointer;
}
.charChooseBill:hover, .charChooseBow:hover, .charChooseCour:hover{
  transform: scale(1.1) ;
}

.foundBanner{
  background-color: green;
  color: whitesmoke;
  padding: 0.5rem;
  border-radius: 15px;
  position: fixed;
  top: 20%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  z-index: 90;

}
.wrongBanner{
  background-color: rgb(129, 11, 11);
  color: whitesmoke;
  padding: 0.5rem;
  border-radius: 15px;
  position: fixed;
  top: 20%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  z-index: 90;
}
/* Pop-up */
.timerCount{
  display: flex;
  justify-content: center;
  align-items: center;

}
.popupContainer{
  position: fixed;
  background: darkgray;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100; 
}

.popupBox{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  margin: 0 auto;
  height: auto;
  max-height: 90vh;
  margin-top: calc(100vh - 94vh - 20px);
  background: whitesmoke;
  border-radius: 1rem;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;  
}
.characterContainer{
  width: 27rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem ;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;

}
.mapImg{
  width: 25.3rem;
  border-radius: 1rem;
}
.miniImg{
  max-width: 6rem;
 
}
.levelContainer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 1rem;
  
}
.imageCredit{
  font-size: 1rem;
  margin-top: 0rem;
}
.startBtn{
  font-size: 2rem;
  padding: 1rem;
  border-radius: 25px;
  background-color:darkorange;
  color: whitesmoke;
  border: 0;
  cursor: pointer;
  transition: all 0.3s;
}
.startBtn:hover{
  transform: scale(1.1) ;
}
.easyLevel{
  color: green;
}
.medLevel{
  color: orange;
  padding-left: 2rem;
}
.hardLevel{
  color: red;
}

/* Final Score Screen */
.displayContainer{
  position: fixed;
  background: darkgray;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100; 
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.finalScore{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  margin: 0 auto;
  height: auto;
  max-height: 90vh;
  margin-top: calc(100vh - 94vh - 20px);
  background: whitesmoke;
  border-radius: 1rem;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;   
}


.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.form-group label {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 5px 3px;
}
.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.results{
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1rem;
  margin: 0.5rem;
}
.tableContainer {
  border: 1px solid black; 
  display: table-cell;
  border-radius: 5px;
  margin-top: 2rem; 
  margin-bottom: 2rem;
}
.scoreboard{
  display: flex;
  justify-content: center;
  align-items: center;
}